<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.1-alpha" targetFramework="net40" />
  <package id="Accord.MachineLearning" version="3.0.1-alpha" targetFramework="net40" />
  <package id="Accord.Math" version="3.0.1-alpha" targetFramework="net40" />
  <package id="Accord.Statistics" version="3.0.1-alpha" targetFramework="net40" />
  <package id="adjunct-System.Xml.Linq.Extensions" version="2.0.0" targetFramework="net40" />
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="Elasticsearch.Net" version="1.7.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="IronPython" version="2.7.5" targetFramework="net40" />
  <package id="Math.Helper" version="1.0.0.1" targetFramework="net40" />
  <package id="MathNet.Numerics" version="3.7.0" targetFramework="net40" />
  <package id="NEST" version="1.7.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="Npgsql" version="2.2.5" targetFramework="net40" />
  <package id="nQuant" version="1.0.3" targetFramework="net40" />
  <package id="OfficeFileProperties" version="3.4.0.0" targetFramework="net40" />
  <package id="SimpleSqlBulkCopy" version="0.1.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.97.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.97.0" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.97.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.97.0" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="System.Xml.XPath.SL4" version="2.0.5.0" targetFramework="net40" />
  <package id="Tesseract" version="2.3.0.0" targetFramework="net40" />
  <package id="ZedGraph" version="5.1.6" targetFramework="net40" />
</packages>